<ion-header>

  <ion-navbar>
    <ion-title>quiz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides #slides>

    <ion-slide class="start-slide">
      <button ion-button color="primary" (click)="nextSlide()">{{'START'|translate}}!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">

      <flash-card [isFlipped]="question.flashCardFlipped">
        <div class="flash-card-front" color="primary"><h2 class="answer-word">{{question.questionWord.word}}</h2></div>
        <div class="flash-card-back" color="primary">

          <p class="answer-title">{{'WORD'|translate}}:</p>
          <p class="answer-word">{{question.questionWord.word}}</p>

          <p class="answer-title">{{'TRANSLATION'|translate}}:</p>
          <p class="answer-word">{{question.questionWord.translation}}</p>

          <p class="answer-title">{{'NOTE'|translate}}:</p>
          <p class="answer-word">{{question.questionWord.note}}</p>

        </div>
      </flash-card>

      <div class="question-text">
        <p *ngIf="!hasAnswered">{{i+1}}/{{questions.length}} {{'CHOOSE'|translate}}</p>
        <p class="answer-correct-text" *ngIf="hasAnswered && isCorrect">{{i+1}}/{{questions.length}}
          {{'CORRECT'|translate}}!</p>
        <p class="answer-wrong-text" *ngIf="hasAnswered && !isCorrect">{{i+1}}/{{questions.length}}
          {{'INCORRECT'|translate}}!</p>
      </div>

      <ion-list radio-group>

        <ion-item *ngFor="let answer of question.answers;">

          <ion-label>{{answer.answer}}</ion-label>
          <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected"
                     [disabled]="hasAnswered"></ion-radio>

        </ion-item>
      </ion-list>

      <button ion-button (click)="nextQuestion()" class="next-button" [disabled]="!hasAnswered">
        {{'NEXT'|translate}}
      </button>

    </ion-slide>

    <ion-slide>
      <h2>{{'FINALSCORE'|translate}}: {{score}}</h2>

      <button (click)="restartQuiz()" ion-button full color="primary">{{'STARTAGAIN'|translate}}</button>

    </ion-slide>

  </ion-slides>

</ion-content>
