<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onClickNewWord()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{name['catalogName']}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label *ngIf="words.length==0">WORDS</ion-label>
  <ion-list inset>
    <ion-item *ngFor="let word of words" (click)="openWord(word)">
      {{ word.word }}
    </ion-item>
  </ion-list>
</ion-content>
