<ion-header>
  <ion-navbar>
    <ion-title text-center>
      <div class="catalogs-title">
        Catalogs
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge #fab>
    <button ion-fab mini>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="createCatalog(fab)">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab (click)="editCatalogMode(fab)">
        <ion-icon name="brush"></ion-icon>
      </button>
      <button ion-fab (click)="deleteCatalogMode(fab)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="game-controller-a"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <div class="catalog-container" *ngFor="let catalog of catalogs">
      <div (click)="openEdit(catalog)" *ngIf="editMode" class="catalog-edit">
        <button ion-button style="width: 30px;height: 30px;">
          <ion-icon name="brush"></ion-icon>
        </button>
      </div>
      <div (click)="openEdit(catalog)" *ngIf="deleteMode" class="catalog-edit">
        <button ion-button style="width: 30px;height: 30px;">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
      <div class="catalog-name">
        {{ catalog.catalogName['catalogName'] }}
      </div>
      <button ion-button block class="catalog-open-btn" (click)="openCatalog(catalog)">open</button>
    </div>
  </ion-list>
  <div class="catalog-container" *ngIf="catalogs.length==0">
    <div class="catalog-name">
      Add your first catalog
    </div>
    <button ion-button block class="catalog-open-btn" (click)="onClickNewCatalog()">add</button>
  </div>
</ion-content>
