<ion-header>

  <ion-navbar>
    <ion-title>mcq</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="quiz-area" *ngIf="inProgress">
    <div *ngIf="!quizOver">
      <div id="question">{{question}}</div>
      <ion-list id="options">
        <div *ngFor="let option of options">
          <ion-label>
            <input type="radio" name="answer" value="{{option}}">
            {{option}}
          </ion-label>
        </div>
      </ion-list>
      <button (click)="checkAnswer()" *ngIf="answerMode">Submit</button>

      <div *ngIf="!answerMode">
        <button (click)="nextQuestion()" class="next-question">Next</button>
        <ion-label *ngIf="correctAns">That is correct!</ion-label>
        <ion-label *ngIf="!correctAns">Sorry, that is an incorrect answer.</ion-label>
      </div>
    </div>

    <div *ngIf="quizOver">
      <h2>Quiz is over</h2>
      <button (click)="reset()">Play again</button>
    </div>

    <div id="score">
      Score: {{score}}
    </div>
  </div>

  <div class="intro" *ngIf="!inProgress">
    <p>Welcome to the QuizApp</p>
    <button id="startQuiz" (click)="start()">Start the Quiz</button>
  </div>
</ion-content>
