<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="!create">
      <button ion-button icon-only (click)="onDeleteWord()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{create? ('NEWWORD'|translate)
      :('EDITWORD'|translate)}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form (ngSubmit)="create? onAddWord(f.value): onEditWord(f.value)" #f="ngForm">

      <ion-item>
        <ion-label floating>{{'WORD'|translate}}</ion-label>
        <ion-input type="text" name="newWord" [(ngModel)]="word.word" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'TRANSLATION'|translate}}</ion-label>
        <ion-input type="text" name="translation" [(ngModel)]="word.translation" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'NOTE'|translate}}</ion-label>
        <ion-input type="text" name="note" [(ngModel)]="word.note"></ion-input>
      </ion-item>

      <ion-card>
        <ion-card-content>
          <ion-card-title *ngIf="!word.recordFileName">
            <button ion-button primary (click)="stopRecord()" *ngIf="recording">
              <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;{{'STOPRECORD'|translate}}
            </button>
            <button ion-button primary (click)="startRecord()" *ngIf="!recording">
              <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;{{'STARTRECORD'|translate}}
            </button>
          </ion-card-title>
          <ion-card-title *ngIf="word.recordFileName">
            <button ion-button primary (click)="playAudio(word.recordFileName)">
              <ion-icon name="play"></ion-icon>&nbsp;&nbsp;{{word.recordFileName}}
            </button>
            <button ion-button icon-only (click)="onDeleteWordRecord()">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-card-title>
        </ion-card-content>
      </ion-card>


      <button ion-button block type="submit" [disabled]="!f.valid">{{create? ('ADDBTN'|translate)
        :('EDITBTN'|translate)}}
      </button>
    </form>
  </ion-list>


</ion-content>
