page-word {

}

.mymodal {
  position: absolute !important;
  width: 92% !important;
  height: 50% !important;
  top: 14% !important;
  left: 4% !important;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
